<div class="item {{ extra_classes|default('') }}" tabindex="0" role="button" {% if focus_first %}data-focus-first="true"{% endif %} {% if note is defined %}data-note-path="/{{ note.name }}"{% endif %} hx-get="{{ hx_get }}" hx-target="{{ hx_target }}" hx-swap="{{ hx_swap|default('outerHTML') }}">
  <div class="item-title"><a class="item-link" href="/{{ note.name }}">{{ title }}</a></div>
  {% if meta %}<div class="item-meta">{{ meta }}</div>{% endif %}
  {% if body %}<div class="item-body">{{ body }}</div>{% endif %}
</div>
